html,
body {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.swiper-one {
  width: 100%;
  height: 100%;
  > .swiper-wrapper {
    > .swiper-slide {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      img {
        display: block;
        position: absolute;
      }
      .arrows {
        position: absolute;
        width: 3rem;
        bottom: 2rem;
        animation-iteration-count: infinite;
      }
      &.page1 {
        background-size: 29rem;
        background-position: center top;
        .think-box {
          position: relative;
          width: 20rem;
          height: 20rem;
          .person {
            width: 10rem;
            top: 1rem;
            left: -5rem;
          }
          .think-container {
            width: 16rem;
            top: 6rem;
            left: 5rem;
          }
          .think-content {
            width: 13rem;
            top: 13rem;
            left: 6.5rem;
          }
        }
      }
      &.page2 {
        background-size: 29rem;
        background-position: center top;
        .think-box {
          position: relative;
          width: 100%;
          height: 100%;
          .leading {
            width: 10rem;
            top: 10rem;
            right: 4rem;
          }
          .car {
            width: 19rem;
            top: 13rem;
            left: 0rem;
          }
          .role1 {
            width: 7rem;
            top: 16rem;
            right: 0rem;
          }
          .role2 {
            width: 9rem;
            top: 22rem;
            right: 2rem;
          }
          .role3 {
            width: 9rem;
            top: 23rem;
            left: 0rem;
          }
          .think-mark1 {
            width: 3rem;
            top: 11rem;
            right: 2rem;
          }
          .think-mark2 {
            width: 10rem;
            top: 32rem;
            right: 3rem;
          }
          .think-mark3 {
            width: 10rem;
            top: 26rem;
            left: 6rem;
          }
          .think-container {
            width: 18rem;
            top: 0.5rem;
            left: 0.5rem;
          }
          .think-content {
            width: 11rem;
            top: 3rem;
            left: 4rem;
          }
        }
      }
      &.page3 {
        background-size: 29rem;
        background-position: center top;
        .car-box {
          position: relative;
          width: 100%;
          height: 100%;
          .car {
            width: 24rem;
            top: 17rem;
            left: 0rem;
          }
          .gift {
            width: 15rem;
            top: 22rem;
            left: 0.5rem;
            animation-iteration-count: infinite;
          }
        }
        .think-box {
          .person {
            width: 27rem;
            top: 0rem;
            right: 0rem;
          }
          .role2 {
            width: 9rem;
            top: 22rem;
            left: 14rem;
          }
          .role3 {
            width: 9rem;
            top: 23rem;
            left: 0rem;
          }
          .aside {
            width: 15rem;
            top: 33rem;
            right: 8rem;
          }
          .think-container {
            width: 20rem;
            top: 2rem;
            right: 5rem;
          }
          .think-content {
            width: 15rem;
            top: 4rem;
            right: 8rem;
          }
        }
      }
      &.page4 {
        background-size: 29rem;
        background-position: center top;
        position: relative;
        width: 100%;
        height: 100%;
        .bird {
          width: 4rem;
          top: 4rem;
          left: 13rem;
        }
        .car {
          width: 26rem;
          top: 26rem;
        }
        .moon {
          width: 10rem;
          top: 0rem;
          right: 0rem;
        }
        .think-box {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          .think-container {
            width: 20rem;
            top: 12rem;
          }
          .think-content {
            width: 15rem;
            top: 15rem;
          }
        }
        .makebook {
          width: 10rem;
          bottom: 5rem;
          animation-iteration-count: infinite;
        }
      }
      &.page5 {
        background-size: 29rem;
        background-position: center top;
        position: relative;
        width: 100%;
        height: 100%;
        .title {
          width: 10rem;
          top: 4rem;
        }
        .bird {
          width: 3.5rem;
          top: 3rem;
          left: 4rem;
        }
        .moon {
          width: 12rem;
          top: 0rem;
          right: 0rem;
        }
        .makepic {
          width: 10rem;
          bottom: 2rem;
          animation-iteration-count: infinite;
        }
        .toast {
          color: red;
          font-size: 2rem;
        }
        .text-container {
          box-sizing: border-box;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          position: absolute;
          bottom: 18rem;
          width: 20rem;
          height: 20rem;
          padding: 5rem 2rem;
          border: 0.3rem solid #fffeca;
          border-radius: 0.4rem;
          color: aliceblue;
          .sign {
            margin-top: 1rem;
            align-self: flex-end;
            text-align: end;
            input {
              width: 30%;
              text-align: center;
            }
          }
          .text-line1 {
            text-indent: 2rem;
          }
          input {
            flex: 1;
            width: 100%;
            outline: none;
            background-color: transparent;
            border: 0;
            border-bottom: 1px solid white;
            color: white;
            font-weight: 600;
            font-size: 0.9rem;
            letter-spacing: 0.1rem;
            &::-webkit-input-placeholder {
              color: white;
            }
            &::-moz-placeholder {
              color: white;
            }
            &:-ms-input-placeholder {
              color: white;
            }
            &:-moz-placeholder {
              color: white;
            }
          }
        }
        #select-pic {
          position: absolute;
          width: 100%;
          height: 9.9rem;
          bottom: 7rem;
        }
      }
      &.page6 {
        background: #eee no-repeat center;
        span {
          position: absolute;
          bottom: 1rem;
          font-size: 2rem;
          display: none;
          z-index: 99;
          color: darkorange;
          animation: save 0.5s infinite;
        }
        @keyframes save {
          0% {
            opacity: 0;
          }
          50% {
            opacity: 1;
          }
          100% {
            opacity: 0;
          }
        }
        .loadCon {
          position: relative;
          width: 100px;
          height: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          h3 {
            position: absolute;
            white-space: nowrap;
          }
          .loadImg {
            opacity: 0.5;
            width: 60px;
            animation: rotate 1s infinite;
          }
          @keyframes rotate {
            from {
              transform: rotate(0);
            }
            to {
              transform: rotate(360deg);
            }
          }
        }
      }
    }
  }
}
.swiper-two {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  .swiper-wrapper {
    position: relative;
    display: flex;
    // justify-content: center;
    // align-items: center;
    .swiper-slide {
      box-sizing: border-box;
    }
    img {
      display: block;
      width: 5rem;
    }
    .swiper-slide-active {
      padding: 0.3rem;
      border: 0.2rem solid #fffeca;
      border-radius: 0.4rem;
    }
  }
}
